.container {
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white; /* Añadido para que la tabla tenga fondo blanco y sea visible sobre la imagen */
  /* Opcional: para añadir un efecto de oscurecimiento */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-blend-mode: overlay; */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.th {
  background-color: #f2f2f2;
}

.formulario-sie {
  background-color: #e0f2f7; /* Azul claro */
  background-image: url('data:image/svg+xml,%3Csvg width="6" height="6" viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%23cce0e8" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M5 0h1L0 6V5zM6 5v1H1z"/%3E%3C/g%3E%3C/svg%3E'); /* Textura sutil */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario-sie {
  background-color: lightblue; /* Un azul claro simple */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}